<h4 class="display-4">
    Pedir Comida
</h4>
<form #form="ngForm" autocomplete="off">

    <div class="form-group">
        <label>Comida</label>
        <select name="ItemID" #ItemID="ngModel" [(ngModel)]="formData.ItemId" class="form-control">
            <option value="0">--Select--</option>
        </select>
    </div>

    <div class="form-row ">
        <div class="form-group col-md-6">
            <label>Precio</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input class="form-control" name="Precio" #Precio="ngModel" [(ngModel)]="formData.Precio" readonly>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label>Cantidad</label>
            <div class="input-group">
                <input class="form-control" name="Cantidad" #Cantidad="ngModel" [(ngModel)]="formData.Cantidad">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Total</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
            </div>
            <input class="form-control" name="Total" #Total="ngModel" [(ngModel)]="formData.Total" readonly>
        </div>
    </div>
    <div class="form-group">
        
        <button type="submit" class="btn btn-dark">
            <i class="fa fa-database"></i>
            Enviar
        </button>

        <button type="button" class="btn btn-outline-dark ml-1">
            <i class="fa fa-close"></i>
            Cerrar
        </button>

    </div>
</form>